body {
    margin: 0;
    padding: 0;
    
}

.img{
    justify-content: center;
    width: 100vw;
    
    height: 100vh;
    align-items: center;
    background-color: black;
    background-image: url('https://www.theodinproject.com/mstile-310x310.png');
    background-repeat: no-repeat;
    background-size: cover;
}
